.ios, .md {

    page-dashboard {
    
    .firstCol {
        background-color: #f36;
        margin: 2px;
    }
    .secndCol {
        background-color: #f90;
        margin: 2px;
    }

    .thirdCol {
        background-color: #e89;
        margin: 2px;
    }

    .frthCol {
        background-color: #e5e;
        margin: 2px;
    }

    .fifthCol {
        background-color: #df1;
        margin: 2px;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 50px;
        padding: 10px;
    }

    p{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin: 15px;
    }
 
}

}

